:root {
  --hs-color: #e01d3f;
}

.App-header {
  border-bottom: 3px solid var(--hs-color);
  display: flex;
  align-items: center;
  font-size: 20px;
}

.App-header img {
  width: 200px;
}

.App-header h1 {
  color: var(--hs-color);
}

.App-body {
  margin: 50px;
}

.App-body p {
  font-weight: 500;
}


.App-footer {
  border-top: 3px solid var(--hs-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0%;
  font-style: italic;
}

.App-footer p {
  font-weight: 500;
}